<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.archcra.plugin.mob.thirdauth.MobAuth" version="0.0.1">
    <name>MobAuth</name>
    <description>The QQ login/out plugin</description>
    <license>Apache 2.0</license>
    <keywords>3rdAuth, Weibo, QQ</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/mobAuth.js" name="MobAuth">
        <clobbers target="MobAuth" />
    </js-module>
    <!-- android -->
    <platform name="android">
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MobAuth">
                <param name="android-package" value="com.archcra.plugin.mob.thirdauth.MobAuth" />
            </feature>
        </config-file>
        
        
                 <resource-file src="src/android/assets/ShareSDK.xml" target="assets/ShareSDK.xml" />

        
         <resource-file src="src/android/ssdk_strings.xml" target="res/values/ssdk_strings.xml" />
                
        

        <source-file src="src/android/ShareSDK-Core-2.5.7.jar" target-dir="libs" />
        <source-file src="src/android/ShareSDK-QQ-2.5.7.jar" target-dir="libs" />
        <source-file src="src/android/ShareSDK-SinaWeibo-2.5.7.jar" target-dir="libs" />
        <source-file src="src/android/OnLoginListener.java" target-dir="src/com/archcra/plugin/mob/thirdauth" />
        <source-file src="src/android/MobAuth.java" target-dir="src/com/archcra/plugin/mob/thirdauth" />
    </platform>
</plugin>